In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from scripts.data_preprocessing import pre_processing

In [4]:
overview = pre_processing('../data/IpAddress_to_Country.csv')

In [5]:
overview.data_overview()

Shape of the dataset: (138846, 3)

Preview of the first 5 rows:

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

Data types of the dataset

lower_bound_ip_address    float64
upper_bound_ip_address      int64
country                    object
dtype: object

Missing values of the dataset:
Missing values in the dataset (Count and percentage)

                        Missing Values Count  Missing Values Percentage (%)
lower_bound_ip_address                     0                            0.0
upper_bound_ip_address                     0                            0.0
country                                    0                            0.0